.table {
    border: 1px solid black;

    &-header-th th {
        background-color: #00a800;
        color: #fff;
        padding: 1rem;
    }

    &-body-tb td {
      background-color: #eee;
        text-align: center;
        padding: 1rem;
        
    }
}
