.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    margin-bottom: 2rem;

    .btn-add {
        background-color: #00a800;
        color: #fff;
        border: none;
        border-radius: 10px;
        width: 7rem;
        transition: all 0.3s;

        &:active {
            transform: translateY(2px);
        }
    }
}
